@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Shippori+Antique+B1&display=swap');
:root{
	--font-primary: "Montserrat", sans-serif;
	--font-secundary: "Poppins", sans-serif;
	--font-action: "Shippori Antique B1", sans-serif;
}
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}
html,body{height: 100%;scroll-behavior: smooth;/*background-color: #777777;*/}
.clear{clear: both;}
.container{max-width: 1280px;margin: 0 auto;padding: 0 2%;}

/****/




/****/

.chama {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 28, 28);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 80px;
    height: 80px;
}

.loader::after {
    content: "";
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    margin: 8px;
    animation: spin 1.2s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*header{padding: 30px;}*/

.menu{position: fixed;top: 0;background-color: transparent;}
.menu-auxiliar {background-color:#323232;}
/*.transparent{background-color: transparent;}*/

.logo{
    z-index: 999;
    position: fixed;
    top: 0;
    float: left;
    width: 187px;
    height: 50px;
    padding: 8px;
    margin-top: 30px;
}

.logo a{color: white;font-size: 26px;text-decoration: none;}

.desktop{
    z-index: 999;
    position: fixed;
    top: 0;
    right: 50px;
    float: right;
    margin-top: 30px;
}

.desktop ul{
    list-style-type: none;
}

.desktop ul li{
    display: inline-block;
    margin: 10px 20px;
}

.desktop ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: 0.5s all;
}

.desktop ul li a:hover{
    padding: 6px 10px;
    background-color: #8181813b;
    font-size: 18px;
}

/*
.mobile{
    width: 100%;
}

.mobile ul{
    list-style-type: none;
}

.mobile ul li{
    background-color: red;
}
*/

/****/

section.bg > .container{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.overlay{background-color: black; opacity: 1; width: 100%; height: 90vh;}

.bg-wrapper{
    text-align: center;
    width: 100%;
    height: 90vh;
}

.bg-img{
    overflow: hidden;
    background-image: url('../images/bg7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.bg-text{
    text-align: left;
    color: white;
    position: absolute;
    top: 37%;
    left: 4%;
}

.bg-text h2{
    font-size: 42px;
    opacity: 0;
	animation: moveBanner 1s 0.5s forwards;
    transition: 0.6s all;
}

.bg-text h2:hover{color: rgb(36, 35, 35);}

.bg-text p{
    font-size: 22px;
    opacity: 0;
	animation: moveBanner 1s 0.7s forwards;
    transition: 0.6s all;
}

.bg-text p:hover{color: rgb(36, 35, 35);}

.bg-text button{
    margin-top: 10px;
    padding: 8px 30px;
    border-radius: 10px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.877);
    opacity: 0;
	animation: moveBanner 1s 0.9s forwards;
    transition: 0.5s all;
}

@keyframes moveBanner{
	0%{
		transform: translateY(10rem) rotateY(-30deg);
	}
	100%{
		transform: translateY(0) rotateY(0);
		opacity: 1;
	}
}

.bg-text button:hover{
    color: white;
    border: 2px solid white;
    background-color: rgb(36, 35, 35);
    padding: 8px 50px;
}

.bg-text button a{
    padding: 0 10px;
    color: rgb(36, 36, 36);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: 0.5s all;
}

.bg-text button a:hover{
    padding: 10px 20px;
    color: white;
}

section.cards{
    background-color: rgb(36, 35, 35);
    padding: 40px;
    height: 100%;
    width: 100%;
}

section.cards > .container{position: relative;}

.cards-wrapper{
    margin-top: -90px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: rgb(19, 19, 19);
}

.card-formato{
    margin-left: 4%;
    margin-right: 35px;
    padding: 1%;
    width: 24%;
    height: 470px;
    border-radius: 15px;
    background-color: white;
    /*transition: 0.8s all;*/
}

/*.card-formato:hover{
    margin-top: -10px;
    width: 24.5%;
    height: 480px;
}*/

.card-img{
    padding-top: 40px;
    font-size: 80px;
}

.card-img i{
    color: rgb(19, 19, 19);
}

.card-text h2{
    color: rgb(19, 19, 19);
    font-weight: 600;
    margin-top: 17px;
    margin-bottom: 30px;
    font-size: 27px;
}

.card-text p{
    color: rgb(19, 19, 19);
    font-weight: 400;
    font-size: 17.5px;
}

.text-bottom{
    color: white;
    text-align: center;
    margin-top: 120px;
}

.text-bottom h2{
    font-size: 30px;
    padding-bottom: 15px;
}

.text-bottom button{
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    padding: 8px 15px;;
    font-size: 14px;
}

.text-bottom button a{text-decoration: none;color: black;}

section.contato{
    position: relative;
    height: 83%;
}

.contato h2{
    text-align: center;
    padding-top: 80px;
    font-size: 25px;
}

.contato-wrapper{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contato-wrapper form input{
    border-radius: 15px;
    border: 1px solid black;
    width: 100%;
    padding: 8px;
    margin: 4px;
}

.contato-wrapper form input.end{cursor: pointer;}

.contato-wrapper form textarea{
    border-radius: 15px;
    border: 1px solid black;
    width: 100%;
    resize: vertical;
    padding: 8px;
    margin: 4px;
}

footer{background-color: rgb(36, 35, 35);padding: 10px;}

.footer-wrapper{
    color: white;
    text-align: center;
    float: left;
    width: 33.3%;
}

.footer-wrapper p{
    font-size: 14px;
}

.footer-wrapper a{
    color: white;
}


.footer-wrapper i{
    font-size: 16px;
    transition: all 0.1s;
}

.footer-wrapper i:hover{
    font-size: 20px;
}

/****/

@media screen and (max-width: 768px){
    .desktop{
        display: none;
    }

    .logo{
        z-index: 999;
        position: relative;
        top: auto;
        float: none;
        width: 100%;
        height: 0;
        padding: 0;
        margin-top: 0;
        padding-top: 0;
        text-align: center;
    }

    .logo h2{
        padding-top: 15px;
    }

    section.cards{
        min-height: 250%;
    }

    .card-formato{
        width: 80%;
        margin-bottom: 40px;
    }

    .card-text{
        padding: 2%;
    }

    .cards-wrapper{
        display: flex;
    }
}

@media screen and (max-width: 520px){
    .card-text p{
        font-size: 19px;
    }

    .card-formato{
        width: 90%;
        height: 450px;
        /*transition: 0.8s all;*/
    }

    .footer-wrapper{
        float: none;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;
    }
}